body{
font-family:Arial;
margin:0;
background:#eef2f7;
text-align:center;
}

header{
background:#5a6df0;
color:white;
padding:25px;
}

.container{
display:flex;
justify-content:center;
margin-top:40px;
}

.card{
background:white;
padding:25px;
width:300px;
border-radius:10px;
box-shadow:0px 5px 15px rgba(0,0,0,0.1);
text-align:left;
}

input,select{
width:100%;
padding:10px;
margin-top:6px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
background:#5a6df0;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:15px;
}

button:hover{
background:#3c4ad0;
}

.output{
margin-top:40px;
padding:20px;
}

table{
width:80%;
margin:auto;
border-collapse:collapse;
background:white;
box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}

th{
background:#5a6df0;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ddd;
}

.copybtn{
margin-top:20px;
width:200px;
}
